
<% include ../partials/head %>

<body class="grey lighten-3">
    <% include ../partials/nav %>

    <div class="container">
        <p><a href="/create-product">Create New Product</a></p>
        <table id="faqs" class="display" style="width:100%" data-aos="fade-right" data-aos-duration="3000"> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Stock</th>
                    <th>Price</th>
                    <th>On Sale</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

                <% for (var i in results) { %>
                        <tr>
                            <td><%= results[i].id %></td>
                            <td><%= results[i].name %></td>
                            <td><%= results[i].qty %></td>
                            <td><%= results[i].price %></td>
                            <td>  
                                <% if (results[i].status == 1) { %>
                                    Yes
                                <% }else{ %>
                                    No
                                <% } %>
                            </td>
                            <td><a class="waves-effect waves-light btn-small" href="/product-detail?p_id=<%= results[i].id %>"><i class="material-icons">edit</i></a><div class="divider"></div><a class="waves-effect waves-light red btn-small" href="/delete-product?p_id=<%= results[i].id %>"><i class="material-icons">delete_forever</i></a></td>
                        </tr>
                <% } %>
            </tbody>
        </table>
        
    </div>

    <% include ../partials/footer %>

    <!-- Datatable CDN -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    
    <script>
       $(document).ready(function() {

            $('#faqs').dataTable( {
                "ordering": false,
                "columnDefs": [ 
                    {
                        targets: [0, 1],
                        orderable: false
                    } 
                ],
                'info': false,
                'responsive': true,
                "scrollX": true,
                "lengthChange": false,
                "paging": false,
                scrollY: '50vh',
                scrollCollapse: true,

                language: {
                    searchPlaceholder: "Search Product Here"
                },
                mark: true,
            } )
            // .columns.adjust();
            
            $.extend(true, $.fn.dataTable.defaults, {
                mark: true
            });

        } );
    </script>
    
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js),datatables.mark.js"></script>
    <script src="https://cdn.jsdelivr.net/g/mark.js(jquery.mark.min.js)"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.js"></script>
    <link href="https://cdn.jsdelivr.net/datatables.mark.js/2.0.0/datatables.mark.min.css">
    <link href="https://cdn.datatables.net/plug-ins/1.10.13/features/mark.js/datatables.mark.min.css">
</body>
</html>
